@tailwind base;

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
}

html {
  font-family: "Inter", sans-serif;
  background-color: #000000;
}

/* animated image */
@keyframes floating {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 8px);
  }

  100% {
    transform: translate(0, 0);
  }
}

.floating-image {
  animation-name: floating;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@layer components {
  .btn-primary {
    @apply bg-primary outline-theme-purple inline-block rounded-full px-6 py-2 font-semibold shadow-sm;
  }
  .bg-primary {
    @apply bg-gradient-to-r from-[color:var(--theme-purple)] to-[color:var(--theme-blue)] text-white;
  }
  .outline-theme-purple {
    @apply hover:opacity-80 hover:outline-[color:var(--theme-purple)] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[color:var(--theme-purple)];
  }
  .outline-theme-blue {
    @apply hover:opacity-80 hover:outline-[color:var(--theme-blue)] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[color:var(--theme-blue)];
  }
  .within-outline-theme-purple {
    @apply focus-within:outline focus-within:outline-2 focus-within:outline-offset-2 focus-within:outline-[color:var(--theme-purple)] hover:opacity-80 hover:outline-[color:var(--theme-purple)];
  }
}

.react-colorful {
  width: 100% !important;
  gap: 0rem !important;
}
.react-colorful__last-control {
  border-radius: 0px 0px 0px 0px !important;
  height: 14px !important;
  width: 100% !important;
}
.react-colorful__hue-pointer {
  width: 1rem !important;
  height: 1rem !important;
}
.react-colorful__pointer {
  cursor: pointer !important;
}
@tailwind components;
@tailwind utilities;
